@using CarPoolTool.Models;
@{ 
    ActiveSection section = ViewBag.Section;
}


<div id="footer" class="ui inverted three item menu">
    <a class="item @(section == ActiveSection.Week ? "active red" : "")" href="@Url.Action("Index","Week")">
        <i class="calendar icon"></i>
        Calendario
    </a>
    <a class="item @(section == ActiveSection.Stats ? "active red" : "")" href="@Url.Action("Index", "Statistics")">
        <i class="line chart icon"></i>
        Statistiche
    </a>
    <a class="item @(section == ActiveSection.Account ? "active red" : "")" href="@Url.Action("Index", "Account")">
        <i class="user icon"></i>
        Utente
    </a>
</div>