@using CarPoolTool.Models;
@model IEnumerable<DayLog>

@{
    ViewBag.Title = "Modifica settimana";
    List<User> users = CarPoolTool.Models.User.GetAll();
}

<br/>

<div class="ui grid">
    <div class="sixteen wide column">
        @using (Html.BeginForm("WeekEdit", "Week", new { day = Model.ElementAt(0).Date }, FormMethod.Post, new { @id = "weekForm" }))
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                DayLog day = Model.ElementAt(i);
                <h4 class="ui horizontal divider header">
                    <i class="calendar icon"></i>
                    @day.Date.ToString("dddd dd/MM")
                </h4>
                if (day.IsHoliday)
                {
                    <div class="ui icon violet message" >
                        <i class="star icon"></i>
                        <div>
                            <strong>Festivo</strong>: @(day.Holiday.description != null ? day.Holiday.description : "N/A")
                        </div>
                    </div>
                }
                else{
                    <input type="hidden" name="weekdata[@i].Key" value="@day.Date.DayOfWeek"/>
                    <input type="hidden" name="weekdata[@i].Value.Date" value="@day.Date" />
                    <table class="ui unstackable definition table">
                        <tbody>
                            <!-- Guidatore -->
                            <tr>
                                <td style="width:30px;">
                                    <i class="teal car icon"></i>
                                </td>
                                <td style="padding:2px;">
                                    <select name="weekdata[@i].Value.Driver" data-index="@i" class="ui fluid dropdown driver-select">
                                        <option value="">[nessuna selezione]</option>
                                        @foreach (User user in users)
                                        {
                                            /* skip se l'utente è inattivo e non segnato */
                                            if(!(day.Userdata[user].Equals(UserStatus.MissingData) && user.active == 0))
                                            {
                                                <option value="@user.username" @(day.Userdata[user].Equals(UserStatus.Driver) ? "selected=\"selected\"" : "")>@user.display_name</option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>

                            <!-- Passeggeri -->
                            <tr>
                                <td style="width:30px;">
                                    <i class="blue road icon"></i>
                                </td>
                                <td style="padding:2px;">
                                    <select name="weekdata[@i].Value.Passengers" data-index="@i" multiple class="ui fluid dropdown passengers-select">
                                        @foreach (User user in users)
                                        {
                                            if (!(day.Userdata[user].Equals(UserStatus.MissingData) && user.active == 0))
                                            {
                                                <option value="@user.username"
                                                        @(day.Userdata[user].Equals(UserStatus.Passenger) || day.Userdata[user].Equals(UserStatus.MissingData) ? "selected=\"selected\"" : "")
                                                        @(day.Userdata[user].Equals(UserStatus.Driver) ? "disabled" : "")>
                                                    @user.display_name
                                                </option>
                                            }
                                        }
                                    </select>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                }
            }
            <div class="ui checkbox">
                @Html.CheckBox("updateGoogleCalendar", true)
                <label>Aggiorna il Google Calendar</label>
            </div>
        }
    </div>
    <div class="eight wide column">
        <button class="ui labeled icon green fluid button" onclick="loadAndSubmit(this, $('#weekForm'));">
            <i class="save icon"></i>
            Salva
        </button>
    </div>
    <div class="eight wide column">
        <a class="ui labeled icon red fluid button" onclick="loadAndGo(this);" data-href="@Url.Action("Week",new { start = Model.ElementAt(0).Date.Date, skipAheadIfWeekend = false })">
            <i class="cancel icon"></i>
            Annulla
        </a>
    </div>
        
</div>

@section Scripts
{
    <script>
        $('.driver-select').dropdown({
            placeholder: false,
            onChange: function (value, text, $selectedItem) {                
                if ($selectedItem) {
                    $selectedItem.closest('tbody').find('.passengers-select').dropdown('remove selected', value);
                    $selectedItem.closest('tbody').find('.passengers-select select option').removeAttr('disabled');
                    $selectedItem.closest('tbody').find('.passengers-select div.menu div.item').removeClass('disabled');
                    $selectedItem.closest('tbody').find('.passengers-select div.menu div.item[data-value="' + value + '"]').addClass('disabled');
                }
            }
        });

        $('.passengers-select').dropdown();
    </script>
}
