@using CarPoolTool.Models
@using System.Globalization
@model IEnumerable<DayLog>

@{
    ViewBag.Title = "Calendario";
    User loggeduser = CarPoolTool.Models.User.GetByUsername(User.Identity.Name);
}

<div class="ui grid">
    <div class="three wide column">
        <a class="ui blue icon fluid button" onclick="loadAndGo(this);" data-href="@Url.Action("Week", new { start = Model.ElementAt(0).Date.AddDays(-7), skipAheadIfWeekend = false })">
            <i class="ui chevron left icon"></i>
        </a>
    </div>

    <div class="ten wide column" style="padding-left:0;padding-right:0;">
        <div class="ui calendar" id="dateSelector">
            <div class="ui blue labeled icon fluid button">
                <i class="ui calendar icon"></i>
                Settimana del @Model.ElementAt(0).Date.ToString("dd/MM")
            </div>
        </div>
    </div>

    <div class="three wide column">
        <a class="ui blue icon fluid button" onclick="loadAndGo(this);" data-href="@Url.Action("Week", new { start = Model.ElementAt(0).Date.AddDays(7), skipAheadIfWeekend = false })">
            <i class="ui chevron right icon"></i>
        </a>
    </div>

    <div class="ui eight wide column" style="padding-top:0px; padding-bottom:0px;">
        <a class="ui blue labeled icon fluid button" onclick="loadAndGo(this);" data-href="@Url.Action("WeekEdit", new { start = Model.ElementAt(0).Date })">
            <i class="ui edit icon"></i>
            Modifica settimana
        </a>
    </div>
    <div class="ui eight wide column" style="padding-top:0px; padding-bottom:0px;">
        <a class="ui blue labeled icon fluid button" onclick="$('#popupReset').modal('show');">
            <i class="ui trash icon"></i>
            Resetta settimana
        </a>

        <div class="ui modal" id="popupReset">
            <div class="ui header">
                Reset settimana
            </div>
            <div class="ui content">
                <p>La settimana corrente verrà resettata, tutti gli utenti per questa settimana verranno impostati come "Non Segnato"</p>
                <p>Sei sicuro?</p>
            </div>
            <div class="ui actions">
                <a class="ui green button" onclick="loadAndGo(this);" data-href="@Url.Action("WeekReset", new { start = Model.ElementAt(0).Date })">Si, resetta</a>
                <button class="ui red cancel button">No, annulla</button>
            </div>
        </div>
    </div>

    <div class="ui sixteen wide column">
        <div class="ui styled fluid accordion">
            @for (int i = 0; i < Model.Count(); i++)
            {
                var day = Model.ElementAt(i);
                if (!ViewData.ContainsKey("activeDay"))
                {
                    ViewData["activeDay"] = DateTime.Today.DayOfWeek;
                }
                string activeAttr = day.Date.DayOfWeek == (DayOfWeek)ViewData["activeDay"] ? "active" : "";
                string driverStr = day.GetDriverStr();
                string passengersStr = day.GetPassengersStr();
                string absentStr = day.GetAbsentStr();
                string missingStr = day.GetMissingStr();

                string idPopupDayEdit = "popupDayEdit" + i.ToString();

                    <div class="@activeAttr title" data-day="@day.Date.DayOfWeek.ToString()">
                        <i class="dropdown icon"></i>
                        @CultureInfo.CurrentCulture.TextInfo.ToTitleCase(day.Date.ToString("dddd dd"))

                        <span style="float:right;">
                            @if(day.Alerts != null && day.Alerts.Count() > 0)
                            {
                                <i class="red warning sign icon"></i>
                            }

                            <i class="teal car icon"></i>
                            @driverStr

                            <i class="blue road icon"></i>
                            @day.GetByStatus(UserStatus.Passenger).Count.ToString()
                        </span>
                    </div>

                    <div class="@activeAttr content">
                        <table class="ui unstackable definition table">
                            <tbody>
                                <!-- Guidatore -->
                                <tr>
                                    <td>
                                        <i class="teal car icon"></i>
                                    </td>
                                    <td>
                                        @driverStr
                                    </td>
                                </tr>

                                <!-- Passeggeri -->
                                <tr>
                                    <td>
                                        <i class="blue road icon"></i>
                                    </td>
                                    <td>
                                        @passengersStr
                                    </td>
                                </tr>

                                <!-- Consiglio dei dieci assenti -->
                                <tr>
                                    <td>
                                        <i class="red remove user icon"></i>
                                    </td>
                                    <td>
                                        @absentStr
                                    </td>
                                </tr>

                                <!-- dispersi -->
                                <tr>
                                    <td>
                                        <i class="gray help circle icon"></i>
                                    </td>
                                    <td>
                                        @missingStr
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        <!-- Messaggio non segnato -->
                        @if (day.Userdata[loggeduser] == UserStatus.MissingData)
                        {
                            <div class="ui icon yellow message hand-cursor" onclick="$('#@idPopupDayEdit').modal('show');">
                                <i class="warning icon"></i>
                                <div>
                                    Non sei segnato per @day.Date.ToString("dddd"). Tocca per segnarti ora!
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="ui icon green message hand-cursor" onclick="$('#@idPopupDayEdit').modal('show');">
                                <i class="info circle icon"></i>
                                <div>
                                    Sei segnato come <b>@Html.Partial("UserStatusView", day.Userdata[loggeduser])</b>. Tocca per modificare.
                                </div>
                            </div>
                        }

                        @if (day.Alerts != null && day.Alerts.Count() > 0)
                        {
                            foreach (Alert alert in day.Alerts)
                            {
                                <div class="ui icon blue message">
                                    <i class="warning icon"></i>
                                    <div style="width:100%;">
                                        <i class="ui user icon"></i><strong>@alert.User.display_name</strong>:
                                        @alert.message
                                    </div>
                                    <div>
                                        <a class="ui red icon button" onclick="loadAndGo(this);" data-href="@Url.Action("DeleteAlert", new { start = day.Date, alertId = alert.id })">
                                            <i class="trash icon"></i>
                                        </a>
                                    </div>
                                </div>
                            }
                        }
                        <div style="overflow:hidden;">
                            <a class="ui blue labeled right floated icon button" style="margin-bottom:5px;" onclick="loadAndGo(this);" data-href="@Url.Action("DayEdit", new { day = day.Date })">
                                <i class="ui edit icon"></i>
                                Modifica giorno
                            </a>

                            <button class="ui blue labeled right floated icon button" style="margin-bottom:5px;" onclick="$('#@("popupAddAlert" + i.ToString())').modal('show');">
                                <i class="ui plus icon"></i>
                                Aggiungi avviso
                            </button>

                            <div class="ui modal" id="@("popupAddAlert" + i.ToString())">
                                <div class="ui header">
                                    Nuovo avviso per @day.Date.ToString("dddd dd")
                                </div>
                                <div class="ui content">
                                    <p>Stai inserendo un nuovo avviso. Inserisci il testo:</p>
                                    @using (Html.BeginForm("InsertAlert", "Week", new { start = day.Date}, FormMethod.Post, new { id = "alertForm" + i.ToString(), @class = "ui form" }))
                                    {
                                        <input type="hidden" name="alert.username" value="@loggeduser.username"/>
                                        <input type="hidden" name="alert.data" value="@day.Date.Date" />
                                        <input type="hidden" name="alert.severity" value="warning" />
                                        <textarea name="alert.message" placeholder="Inserisci un messaggio..."></textarea>
                                    }
                                </div>
                                <div class="ui actions">
                                    <button type="submit" onclick="loadAndSubmit(this, $('#@("alertForm" + i.ToString())'));" class="ui green button">Inserisci</button>
                                    <button class="ui red cancel button">Annulla</button>
                                </div>
                            </div>
                        </div>
                    </div>

                <!-- Modification Popup -->
                <div class="ui modal" id="@idPopupDayEdit">
                    <div class="header">Ciao @loggeduser.display_name!</div>
                    <div class="content">
                        <p>
                            <h3>
                                Il tuo stato per il giorno @day.Date.ToString("dd/MM") è:
                                @Html.Partial("UserStatusView", day.Userdata[loggeduser])
                            </h3>
                        </p>
                        <p>
                            <h3>Vuoi apportare una modifica?</h3>
                        </p>
                    </div>
                    <div class="actions">
                        @using (Html.BeginForm("Update", "Week", new { day = day.Date, username = loggeduser.username }, FormMethod.Post))
                        {
                            <div class="ui checkbox">
                                @Html.CheckBox("updateGoogleCalendar", true)
                                <label>Aggiorna il Google Calendar</label>
                            </div>
                            <br/><br />
                            var myStatus = day.Userdata[loggeduser];
                            if (myStatus != UserStatus.Driver)
                            {
                                var driver = day.GetByStatus(UserStatus.Driver).FirstOrDefault();
                                if (driver == null)
                                {
                                    <button class="width190 ui labeled teal icon button" onclick="loadAndSubmit(this, $(this).closest('form'), 'status', 'Driver');" style="margin-bottom: 5px;">
                                        <i class="car icon"></i>
                                        Guido io!
                                    </button>
                                }
                                else
                                {
                                    <button class="width190 ui labeled teal icon button" onclick="loadAndSubmit(this, $(this).closest('form'), 'status', 'Driver');" style="margin-bottom: 5px;" name="formerDriverStatus" value="Passenger">
                                        <i class="car icon"></i>
                                        Guido io! (@driver.display_name passeggero)
                                    </button>
                                    <button class="width190 ui labeled teal icon button" onclick="loadAndSubmit(this, $(this).closest('form'), 'status', 'Driver');" style="margin-bottom: 5px;" name="formerDriverStatus" value="Absent">
                                        <i class="car icon"></i>
                                        Guido io! (@driver.display_name assente / da solo)
                                    </button>
                                }
                            }

                            if(myStatus != UserStatus.Passenger)
                            {
                                <button class="width190 ui labeled blue icon button" onclick="loadAndSubmit(this, $(this).closest('form'), 'status', 'Passenger');" style="margin-bottom: 5px;">
                                    <i class="road icon"></i>
                                    Passeggero
                                </button>
                            }

                            if (myStatus != UserStatus.Absent)
                            {
                                <button class="width190 ui labeled red icon button" onclick="loadAndSubmit(this, $(this).closest('form'), 'status', 'Absent');" style="margin-bottom: 5px;">
                                    <i class="remove user icon"></i>
                                    Da solo / ferie
                                </button>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        $('.ui.accordion').accordion();
        $('#dateSelector').calendar({
            onChange: function (date, text) {
                window.location = "@Url.Action("Switch")" + "?date=" + date.getFullYear() + "-" + (date.getMonth() + 1) + "-" + date.getDate();
            },
            type: 'date',
            today: true,
            firstDayOfWeek: 1
        });
    </script>
}
