@using CarPoolTool.Models;
@model IEnumerable<DayLog>

@{
    ViewBag.Title = "Modifica settimana";
    List<User> users = CarPoolTool.Models.User.GetAll();
}


<div class="ui grid">
    <div class="sixteen wide column">
        @using (Html.BeginForm("WeekEdit", "Week", new { day = Model.ElementAt(0).Date }, FormMethod.Post))
        {
            for (int i = 0; i < Model.Count(); i++)
            {
                DayLog day = Model.ElementAt(i);
                <h4 class="ui horizontal divider header">
                    <i class="calendar icon"></i>
                    @day.Date.ToString("dddd dd/MM")
                </h4>
                <input type="hidden" name="weekdata[@i].Key" value="@day.Date.DayOfWeek"/>
                <input type="hidden" name="weekdata[@i].Value.Date" value="@day.Date" />
                <table class="ui unstackable definition table">
                    <tbody>
                        <!-- Guidatore -->
                        <tr>
                            <td style="width:30px;">
                                <i class="teal car icon"></i>
                            </td>
                            <td style="padding:2px;">
                                <select name="weekdata[@i].Value.Driver" data-index="@i" class="ui fluid dropdown driver-select">
                                    <option value="">Non selezionato</option>
                                    @foreach (User user in users)
                                    {
                                        <option value="@user.username" @(day.Userdata[user].Equals(UserStatus.Driver) ? "selected=\"selected\"" : "")>@user.display_name</option>
                                    }
                                </select>
                            </td>
                        </tr>

                        <!-- Passeggeri -->
                        <tr>
                            <td style="width:30px;">
                                <i class="blue road icon"></i>
                            </td>
                            <td style="padding:2px;">
                                @*
                                <div class="ui fluid multiple search selection dropdown">
                                    <input name="weekdata[@i].Value.Passengers" type="hidden">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Nessuna selezione</div>
                                    <div class="menu">
                                        @foreach (User user in users)
                                        {
                                            <div class="item" @(day.Userdata[user].Equals(UserStatus.Passenger) ? "selected=\"selected\"" : "") data-value="@user.username">@user.display_name</div>
                                        }
                                    </div>
                                </div>
                                *@

                                <select name="weekdata[@i].Value.Passengers" data-index="@i" multiple class="ui fluid dropdown passengers-select">
                                    @foreach (User user in users)
                                    {
                                        <option value="@user.username"
                                                @(day.Userdata[user].Equals(UserStatus.Passenger) ? "selected=\"selected\"" : "")
                                                @(day.Userdata[user].Equals(UserStatus.Driver) ? "disabled" : "")>
                                            @user.display_name
                                        </option>
                                    }
                                </select>
                            </td>
                        </tr>
                    </tbody>
                </table>
            }

            <button type="submit" class="ui red button">Submit</button>
        }
    </div>
</div>

@section Scripts
{
    <script>
        $('.driver-select').dropdown({
            onChange: function (value, text, $selectedItem) {
                $selectedItem.closest('tbody').find('.passengers-select').dropdown('remove selected', value);
                $selectedItem.closest('tbody').find('.passengers-select div.menu div.item').removeClass('disabled');
                $selectedItem.closest('tbody').find('.passengers-select div.menu div.item[data-value="' + value + '"]').addClass('disabled');
            }
        });

        $('.passengers-select').dropdown();
    </script>
}
